  ${scope} static class Builder
  {
#! {builder_fields}

    ${scope} Builder()
    {
    }
    
    ${scope} Builder(${name} original)
    {
#! {copy_body}
    }

#! {builder_setters}
    ${scope} ${name} build()
    {
      return new ${name}(${builder_ctor_args});
    }
  }