
  @Override
  public boolean equals(Object other)
  {
    if (this == other)
    {
      return true;
    }

    if (!(other instanceof ${name}))
    {
      return false;
    }

    ${name} that = (${name}) other;

    return ${equals};
  }